#bio_picture {
    position: relative;
    width: 300px;
    height: 500px;
}

.profile_picture {
    display: inline-block;
   padding: 5px;
}

.profile_picture > img {
    width: 50px;
    height: 50px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    /* background-image: url("background_image_river\ edited.jpg"); */
    /* background-image: url("images/treatment_plant.jpg"); */
    background-image: url("../images/blue_background\ copy.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0 38%; 
    background-origin: border-box;
    width: 100%;
    height: 528px;
    padding: 20px;
    position: relative;
    position: relative;
    animation: fadeIn 1s;
}

#product-overview h1 {
    position: relative;
    text-align: left;
    top: 400px;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    padding: 0 20px;
    /* font-size:xx-large; */
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

/* #product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
} */

.plan {
    background: white;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: block;
    width: 30%;
    vertical-align: middle;
}

h1 {
    font-family: sans-serif;
} 

.main-header__subtitle {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: none;
    font-size: 14px;
    display:inline;
    padding:20px;
    font-weight: bold;
}

.section-background h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 40px;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    text-align: center;
}

.section-background h3 {
    padding: 15px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    text-align: center;
}

#portfolio-button {
    width: 170px;
    height: 70px;
    font-family: Montserrat;
    font-weight: bold;
    color:white;
    background: #ff1b68;
    font-size: 16px;
    border:none;
    padding: 8px 16px;
    border-radius: 8px;
}

.wrapper {
    display: flex;
    margin:10px;
    padding:15px;
    align-items: center;
    justify-content: center;
}


.section-button {
    width: 130px;
    height: 50px;
    font-family: Montserrat;
    font-weight: bold;
    color:white;
    background: #7d7c7d;
    font-size: 16px;
    border:none;
    padding: 8px 16px;
    border-radius: 8px;
}

.section-picture {
    height: 500px;
    width: 625px;
    padding:20px;
}

.modal-subheader {
    font-family: Poppins;
    font-size: 30px;
}

.modal-sub-subheader {
    font-weight: normal;
}

.linkedin-profile-link {
    padding:12px;
    box-shadow: none;
}




.signup-form {
    padding: 1rem;
}

.signup-form label{
    font-weight:bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
    display: block;
    margin-top: 1rem;
    width: 100%;
    border-radius: 4px;
}



.signup-form input[id*="terms"],
.signup-form input[id*="terms"] + label {
    display: inline-block;
    width: auto;
}


.signup-form input[id*="description"] {
    height: 300px;
    /* width: auto; */
}

.signup-form textarea {
    height: 300px;
    width: 100%;
    display: block;
    margin-top: 1rem;
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
    border-radius: 4px;
}

.signup-form input,
.signup-form select {
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.signup-form input:focus,
.signup-form select:focus {
    outline: none;
    background: rgb(198, 205, 211);
    border-color: #ccc;
}

.signup-form :invalid {
    border-color: #ff1b68;
    background: rgb(248, 51, 51);
}


.signup-form button[type="submit"] {
    display:block;
    margin-top: 1rem;
    color:white;
    background: #ff1b68;
    padding: 8px 16px;
    width: 130px;
    height: 40px;
    font-family: Montserrat;
    font-weight: bold;
    color:white;
    font-size: 16px;
    border:none;
    padding: 8px 16px;
    border-radius: 8px;
}


.contact-links {
    display: flex;
    justify-content: center;
}

@media (min-width: 40rem) {
    .signup-form {
        margin: auto;
        width: 45rem;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }